/* Estilos generales para data-view */
.data-view {
  background-color: white;
  padding: 20px;
  margin: 100px 40px 40px 40px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Título */
.data-view h2 {
  margin-bottom: 15px;
}

/* Lista y elementos */
.data-view ul {
  list-style-type: none;
  padding: 0;
}

.data-view li {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Responsividad */
@media (max-width: 768px) {
  .data-view {
      margin: 80px 20px 30px 20px; /* Reduce los márgenes en pantallas medianas */
      padding: 15px;
  }

  .data-view h2 {
      font-size: 1.5em; /* Ajusta el tamaño del título */
  }

  .data-view li {
      font-size: 14px; /* Ajusta el tamaño de texto para mejor lectura */
      padding: 8px;
  }
}

@media (max-width: 480px) {
  .data-view {
      margin: 60px 10px 20px 10px; /* Márgenes aún más reducidos */
      padding: 10px;
  }

  .data-view h2 {
      font-size: 1.2em;
  }

  .data-view li {
      font-size: 12px;
      padding: 6px;
  }
}

  
  